/* Primary 色票 */

$primary-100: #e5eed7;
$primary-200: #a6ffa6;
$primary-300: #63ab30;
$primary-400: #39b54a;

/* Secondary 色票 */
$secondary-100: #eb641a; // 價格用色

/* Warning 色票 */
$warning-100: #e8363c;
$warning-200: #ff0000;
$warning-300: #890000;

/* Pink 色票 */
$pink-100: #ec149e;

/* Yellow 色票 */
$yellow-100: #f5ed7a;

/* Blue 色票 */
$blue-000: #e8f0fe;
$blue-100: #56b0ff;
$blue-200: #4267b2;

/* Gray 色票 */
$gray-100: #ffffff;
$gray-200: #dbdada;
$gray-300: #b3b3b3;
$gray-400: #595758;
$gray-500: #000000;

/* 字級 */
$h1: 30px;
$h2: 26px;
$h3: 22px;
$h4: 18px;
$h5: 16px;
$h6: 14px;
$subtitle: 12px;

/* 字型 */
$typeface: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", 'Segoe UI', 'Microsoft JhengHei', "微軟正黑體", Helvetica, Arial;

$price: #890000;
