@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="/Admin">seq log message test</a> | 
    <a href="/Message">Polly CircuitBreaker test (background reqeust https://www.google.com.tw</a>
</div>
