@{
    ViewData["Title"] = "Admins / Detail";
}

<div id="detailContainer"></div>
@section Scripts {
    <script>
        Vue.createApp(Components.DetailContainer, {
            model: @Html.Raw(Json.Serialize(Model))
        }).mount("#detailContainer");
    </script>
}